.promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 160px 80px;
  gap: 10px;

  h1 {
    width: 1280px;
    height: 144px;
    font-family: "Courier New";
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    color: #ffffff;
    padding: 0;
  }

  p {
    width: 629px;
    height: 30px;
    font-family: "Kanit";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    margin-top: 32px;
    margin-bottom: 40px;
  }

  button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 10px;
    width: 200px;
    height: 56px;
    background: #fd5a14;
    border-radius: 5px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    
  }
}
