.App {
  /* text-align: center; */
width: 100%;
}



.top-btn-position {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #fd5a14;
  color: #fd5a14;
  cursor: pointer;
}

 .top-btn-position:hover {
  animation: none;
  background-color: #fd5a14;
  color: #fff;
 }