html, body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}

body {
  
  background: #130125;
}

* {
  box-sizing: inherit;
  font-family: inherit;
}

p, h1, h2, h3, ul {
  margin: 0px;
  color: #ffffff;
  padding: 0;
}

ul {
  padding: 0px;
  list-style: none;
}

li {
  padding: 0px;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}